.formulario {
    background-color: yellow;
    width: 500px; padding: 20px;
    border: 1px solid black;
    margin: auto;
}

label {
    font-weight: bolder;
}

h1 {
    background-color: black;
    color: white;
    padding: 5px;
}

span {
    font-weight: bolder;
}

#centrado {
    text-align: center;
}