html {
    height: 100%; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 500px;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
}

#botonValidarDni {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}

#botonValidarFecha {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer; 
}

#botonValidarIdentificador {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}